html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
 justify-content: center;
 min-height: 100vh;
}

.main {
  background-color: #f8f8f8;
  max-width: 624px;
  border-radius: 16px;
  padding: 32px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.div__person {
  padding-left: 32px;
}
.person__article {
  display: flex;
  align-items: flex-start;
}

.person__header--name {
  margin: 0px;
}
.person__header--paragraph {
  margin: 0px;
}
.strong {
  font-weight: normal;
  color: #ed6d05;
}
.link {
  color: #e20613;
  text-decoration: none;
}
